body {
    background-image: url(kotorstarigrad.png);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

@media (width <= 600px) {
    .aboutSite {
        font-size: 0.7rem;
    }
    .site_name {
        font-size: 1.8rem;
    }
    .footer {
        font-size: 0.8rem;
    }
}

.page {
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(182, 194, 186);
    background-image: url(kotorstarigrad.png);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}
.site_name {
    text-align: center;
    color: white;
    margin-top: 3rem;
}
.aboutSite {
    max-width: min(80em, 90%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
    color: white;
    line-height: 1.7;
    text-align: center;
}
.footer {
    display: flex;
    color: white;
    flex-wrap: wrap;
    margin-top: 5rem;
    margin-bottom: 0.6rem;
}
.footerItem {
    background-color: rgb(0,0,0,0.8);
    flex-basis: 50px;
    flex-grow: 1;
    border-radius: 1rem;
    padding: 2rem;
    margin: 5px 10px;
    text-align: center;
}
.site_description_div {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.navigationBar {
    height: 5rem;
    top: 0.5rem;
    margin: auto;
    display: flex;
    position: sticky;
}

/* left section */

.left {
    flex-grow: 1;
    background-color: rgb(114, 138, 122);
    background-image: url(axiom-pattern.png);
}
.menu {
    margin-top: 1.5rem;
    margin-left: 1.2rem;
    min-width: 1rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.menu:hover {
    .menuImg {
        height: 2.2rem;
        margin-left: -0.15rem;
        margin-top: -0.15rem;
        transition: ease-in-out 200ms;
    }
}

.menuImg {
    transition: ease-in-out 200ms;
}

/* middle section */

.middle {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(114, 138, 122);
    background-image: url(axiom-pattern.png);
}
.searchBarContainer {
    min-width: min(90%, 500px);
    margin: auto;
    display: flex;
}
.searchBar {
    width: 5rem;
    margin-left: 15px;
    padding: .7rem;
    flex-grow: 10;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    font-weight: bold; 
}
.searchGlass {
    height: 2.5rem;
    padding: .5rem;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background-color: rgb(231, 231, 231);
    transition: ease-in-out 200ms;
}

.searchGlass:hover {
    background-color: rgb(185, 185, 185);
    transition: ease-in-out 200ms;
}

.searchGlassImg {
    margin-top: 0.2rem;
}

/* right section */

.right {
    flex-grow: 1;
    flex-basis: 20px;
    justify-content: end;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    border-spacing: 1px;
    background-color: rgb(114, 138, 122);
    background-image: url(axiom-pattern.png);
}
.signUpButton {
    cursor: pointer;
    min-width: 6em;
    height: 1rem;
    margin-top: 0.3rem;
    text-align: center;
    padding: 0.8rem;
    padding-bottom: 1.8rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(67, 117, 20);
    font-weight: bold;
    color: white;
    transition: ease-in-out 200ms;
}
.signUpButton:hover {
    background-color: rgb(38, 66, 11);
    transition: ease-in-out 200ms;
}
.loginButton {  
    cursor: pointer;
    min-width: 6em;
    height: 1rem;
    border: none;
    text-align: center;
    margin-left: 1rem;
    margin-top: 0.3rem;
    padding: 0.8rem;
    padding-bottom: 1.8rem;
    border-radius: 5px;
    background-color: rgb(67, 117, 20);
    font-weight: bold;
    color: white;
    transition: ease-in-out 200ms;
}
.loginButton:hover {  
    background-color: rgb(38, 66, 11);
    transition: ease-in-out 200ms;
}
@media (width <= 916px) {
    .loginButton {
        padding: 0.5rem;
        padding-bottom: 1.5rem;
        margin-top: 0;
    }
    .signUpButton {
        margin-top: -0.78rem;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        padding-bottom: 1.5rem;
    }
}

.profile {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-top: 0.4rem;
}
.profile:hover {
    .profileImg {
        width: 2.5rem;
        margin-right: -0.25rem;
        margin-top: -0.1rem;
        transition: ease-in-out 200ms;
    }
}
.profileImg {
    width: 2rem;
    transition: ease-in-out 200ms;
}

/* get started section */

.getStarted {
    margin: auto;
    margin-top: 4rem;
    padding: 2rem;
    width: 75%;
    border-radius: 1rem;
    color: white;
    background-color: rgba(245, 222, 179, 0.2);
    font-weight: bold;
}

/* menu bar  */

.off_screen_menu {
    background-color: rgba(114, 138, 122, 0.85);
    background-image: url(axiom-pattern.png);
    border: 1px solid rgb(114, 138, 122);
    font-size: 1.1rem;
    position: fixed;
    margin-top: 0.6rem;
    width: 14%;
    min-width: 13rem;
    min-height: calc(100vh - 5rem - 30px);
    color: white;
}

.off_screen_menu_head {
    text-align: center;
}

li {
    padding-top: 1rem;
}

li a {
    text-decoration: none;
    color: white;
}

/* profile info */

.profile_info {
    padding: 2rem;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 25rem;
    min-height: 25rem;
    border-radius: 10px;
    box-shadow: 0 0 50px rgb(69, 97, 78);
    background-image: url(arabesque.png);
    background-color: rgb(108, 145, 120);
    color: white;
}

.profile_title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.profile_info_mail {
    border-radius: 5px;
    border: none;
    outline: none;
    padding: .2rem;
}
.emailInfoContainer {
    display: flex;
    flex-direction: column;
}
.emailNameSpace {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}
.emailChangeSpace {
    display: flex;
    flex-direction: row;
    margin-bottom: -0.5rem;
}
#profile_email {
    word-break: break-all;
}

.profile_info_password {
    border-radius: 5px;
    border: none;
    outline: none;
    padding: .2rem;
    margin-bottom: 3rem;
}
.passwordInfoContainer {
    display: flex;
    flex-direction: column;
}
.passwordNameSpace {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}
.passwordChangeSpace {
    display: flex;
    flex-direction: row;
    margin-bottom: -0.5rem;
}
#profile_password {
    margin: 0;
}

.changeEmail {
    height: 2rem;
    margin-left: 0 !important;
    padding: 0.5rem;
    padding-left: 0.6rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(67, 117, 20);
    color: white;
    font-weight: bold;
    transition: ease-in-out 200ms;
}
.changePassword {
    height: 2rem;
    margin-left: 0 !important;
    padding: 0.5rem;
    padding-left: 0.6rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(67, 117, 20);
    color: white;
    font-weight: bold;
    transition: ease-in-out 200ms;
}
.changeEmail:hover {
    background-color: rgb(38, 66, 11);
    cursor: pointer;
    transition: ease-in-out 200ms;
}
.changePassword:hover {
    background-color: rgb(38, 66, 11);
    cursor: pointer;
    transition: ease-in-out 200ms;
}

.profile_info_mail {
    margin-right: 3.5rem;
    margin-bottom: 3rem;
    padding-left: 0.4rem;
    border: none;
    border-radius: 5px;
    outline: none;
    border: rgb(255, 255, 255) solid 3px;
    opacity: 0;
    visibility: hidden;
    transition: ease-in-out 200ms;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}
.profile_info_mail:hover {
    background-color: rgb(210, 210, 210);
    cursor: pointer;
    border: rgba(0, 0, 0, 0.247) solid 3px;
    transition: ease-in-out 200ms;
}
.profile_info_mail.show {
    opacity: 1;
    transition: ease-in-out 200ms;
    visibility: visible;
}
.profile_info_password {
    margin-bottom: 0;
    padding-left: 0.4rem;
    border: none;
    border-radius: 5px;
    outline: none;
    border: rgba(255, 255, 255, 0) solid 3px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}
.profile_info_password:hover {
    background-color: rgb(210, 210, 210);
    cursor: pointer;
    border: rgba(0, 0, 0, 0.247) solid 3px;
    transition: ease-in-out 200ms;
}
.profile_info_password.show {
    opacity: 1;
    transition: ease-in-out 200ms;
    visibility: visible;
}

.changeEmailContainer > *:not(#emailChangeErrorMsg) {
    margin: 0;
    flex-direction: row;
}
#changeEmailConfirm {
    min-width: 4rem;
    height: 1.93rem;
    margin-top: -1px;
    border: none;
    border-radius: 5px;
    background-color: rgb(38, 66, 11);
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    transition: ease-in-out 200ms;
}
#changeEmailConfirm:hover {
    background-color: rgb(17, 31, 5);
    cursor: pointer;
    transition: ease-in-out 200ms;
}
#changeEmailConfirm.show {
    opacity: 1;
    visibility: visible;
}
#emailChangeErrorMsg {
    margin: 0;
    margin-left: 10px;
    margin-bottom: 10px;
}

.changePasswordContainer > *:not(#passwordChangeErrorMsg) {
    margin: 0;
    text-align: center;
    flex-direction: row;
}
#changePasswordConfirm {
    min-width: 4rem;
    height: 1.93rem;
    margin-top: -1px;
    border: none;
    border-radius: 5px;
    background-color: rgb(38, 66, 11);
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    transition: ease-in-out 200ms;
}
#changePasswordConfirm:hover {
    background-color: rgb(17, 31, 5);
    cursor: pointer;
    transition: ease-in-out 200ms;
}
#changePasswordConfirm.show {
    opacity: 1;
    visibility: visible;
}
#passwordChangeErrorMsg {
    margin: 0;
    margin-bottom: 10px;
}

.sign_out_button {
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0.8rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(67, 117, 20);
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    transition: ease-in-out 200ms;
}
.sign_out_button:hover {
    background-color: rgb(38, 66, 11);
    cursor: pointer;
    transition: ease-in-out 200ms;
}

#menu_bar, #user_info {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

#menu_bar.show, #user_info.show {
    opacity: 1;
    visibility: visible;
}

#checkboxEmail {
    visibility: hidden;
}

#checkboxEmail + label::before {
    content: url("HidePass.png");
}

#checkboxEmail:checked + label::before {
    content: url("ShowPass.png");
}

#checkboxPassword {
    visibility: hidden;
}

#checkboxPassword + label::before {
    content: url("HidePass.png");
}

#checkboxPassword:checked + label::before {
    content: url("ShowPass.png");
}
