.page {
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navigationBar {
    border: 1px solid rgba(16, 102, 16, 0.849);
    height: 5rem;
    display: flex;
}

.left {
    width: 20%;
    justify-content: left;
    background-color: rgb(111, 126, 116);
    background-image: url(axiom-pattern.png);
}
.menu {
    margin-top: 1.5rem;
    margin-left: 1.2rem;
    width: 1rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
}


.middle {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(111, 126, 116);
    background-image: url(axiom-pattern.png);
}
.searchBar {
    width: 20rem;
    padding: .7rem;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    font-weight: bold; 
}
.searchGlass {
    height: 2.5rem;
    padding: .5rem;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background-color: rgb(231, 231, 231);
}

.searchGlassImg {
    margin-top: 0.2rem;
}

.right {
    width: 20%;
    display: flex;
    padding: 1.5rem;
    justify-content: end;
    border-spacing: 1px;
    background-color: rgb(111, 126, 116);
    background-image: url(axiom-pattern.png);
}
.signUpButton {
    cursor: pointer;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.loginButton {  
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.profile {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.profileImg {
    width: 2rem;
}